header {
  height: auto;
  background: white;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(-45deg, #fff 25%, #FECEBF 25%, #FECEBF 50%, #fff 50%, #fff 75%, #FECEBF 75%, #FECEBF);
    background-size: 10px 10px;
    bottom: -5px;
    display: block;
    z-index: -1;
  }
  & .site-description {
    color: #828486;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 20px 0px 20px 0px;
  }
  & .header-logo {
    height: 80px;
    margin: 0 auto;
    padding: 15px 0px 5px 0px;
    & img {
      height: 100%;
    }
  }
}

.header-nav {
  width: 100%;
  padding: 14px 0px 14px 0px;
  margin: 0 auto;

  .nav-link {
    display: inline-block;
    margin-right: 6.666666667%;
    min-width: 20%;
    color: #EA6D53;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    &:last-child {
      margin-right: 0px;
    }
    & li {
      list-style: none;
      background: #FFFBB8;
      letter-spacing: normal;
      padding: 8px 0px 8px 0px;
      margin: 0 auto;
      & .nav-icon {
        height: 13px;
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
        & img {
          height: 100%;
        }
      }
      & p {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  header {
    .header-nav {
      .nav-link {
        display: inline-block;
        margin: 0px 10% 20px 0px;
        min-width: 40%;
        &:nth-child(2n) {
          margin-right: 0px;
        }
      }
    }

    & .site-description {
      width: 80%;
      margin: 0 auto;
    }
  }
}


