header {
  height: auto;
  background: white;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(-45deg, #fff 25%, #FECEBF 25%, #FECEBF 50%, #fff 50%, #fff 75%, #FECEBF 75%, #FECEBF);
    background-size: 10px 10px;
    bottom: -5px;
    display: block;
    z-index: -1;
  }
}

.header_logo {
  height: 80px;
  margin: 0 auto;
  padding: 15px 0px 5px 0px;
  & img {
    height: 100%;
  }
}

.headerlists {
  width:100%;
  padding: 14px 0px 14px 0px;
  margin:0 auto;
}

.headerlists_li {
  list-style: none;
  background: #FFFBB8;
  letter-spacing: normal;
  padding: 8px 0px 8px 0px;
  margin:0 auto;
  & .headerlists_img {
    height: 13px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    & img {
      height: 100%;
    }
  }
  & .headerlists_p {
    display: inline-block;
    vertical-align: middle;
  }
}

.headerlists_a {
  display: inline-block;
  margin-right: 6.666666667%;
  min-width:20%;
  &:last-child {
    margin-right: 0px;
  }
  & a {
    color: #EA6D53;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }
}

.header_p {
  color: #828486;
  font-size: 14px;
  padding: 20px 0px 20px 0px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

@media screen and (max-width: 780px) {
  .headerlists_a {
    display: inline-block;
    margin: 0px 10% 20px 0px;
    min-width: 40%;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  .header_p {
    width: 80%;
    margin: 0 auto;
  }
}
