@mixin white-button(){
  width: 210px;
  border-radius: 30px;
  padding: 8px 35px 8px 35px;
  font-size: 13px;
  background: #fff;
  text-decoration: none;
  border: solid 1px #EA6D53;
  color: #EA6D53;
}
@mixin orange-button(){
  width: 210px;
  border-radius: 30px;
  padding: 8px 35px 8px 35px;
  font-size: 13px;
  background: #EA6D53;
  text-decoration: none;
  border: solid 0px;
  color: #fff;
}
