footer
    .footer_texture
    .container
        .footerlists
            li.footerlists_li
                a(href='')
                    .footerlists_li_img
                        img(src='img/icon_clip-white.svg')
                    p コンセプト
            li.footerlists_li
                a(href='')
                    .footerlists_li_img
                        img(src='img/icon_lightBulb-white.svg')
                    p 使い方
            li.footerlists_li
                a(href='')
                    .footerlists_li_img
                        img(src='img/icon_smile-white.svg')
                    p 運営について
            li.footerlists_li
                a(href='')
                    .footerlists_li_img
                        img(src='img/icon_letter-white.svg')
                    p お問い合わせ
            .chatbox
                span.powered_by Powered by
                img(src='img/logo_chatbox.svg')
                span.right_reserved All rights reserved.
