header
    .container
        .header_logo
            img(src='/img/logo_rectangle.svg')
        .headerlists
            .headerlists_a
                a(href='#')
                    li.headerlists_li
                        .headerlists_img: img(src='/img/icon_clip.svg')
                        p.headerlists_p コンセプト
            .headerlists_a
                a(href='#')
                    li.headerlists_li
                        .headerlists_img: img(src='/img/icon_lightBulb.svg')
                        p.headerlists_p 使い方
            .headerlists_a
                a(href='#')
                    li.headerlists_li
                        .headerlists_img: img(src='/img/icon_smile.svg')
                        p.headerlists_p 運営について
            .headerlists_a
                a(href='#')
                    li.headerlists_li
                        .headerlists_img: img(src='/img/icon_letter.svg')
                        p.headerlists_p お問い合わせ
        p.header_p ストーリー構成に合わせて使いやすいフリーイラスト素材サイトです。個人利用・商用利用どちらも無料で仕様できます。