header
    .container
        .header_logo
            img(src='/img/logo_rectangle.svg')
        .headerlists
            li.headerlists_li
                .headerlists_img: img(src='/img/icon_clip.svg')
                .headerlists_a: a(href='#') コンセプト
            li.headerlists_li
                .headerlists_img: img(src='/img/icon_lightBulb.svg')
                .headerlists_a: a(href='#') 使い方
            li.headerlists_li
                .headerlists_img: img(src='/img/icon_smile.svg')
                .headerlists_a: a(href='#') 運営について
            li.headerlists_li
                .headerlists_img: img(src='/img/icon_letter.svg')
                .headerlists_a: a(href='#') お問い合わせ
        p.header_p ストーリー構成に合わせて使いやすいフリーイラスト素材サイトです。個人利用・商用利用どちらも無料で仕様できます。