html
    head
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel='stylesheet' href='/css/layout.css')
        link(rel='stylesheet' href='/css/reset.css')
        script(src='/js/bundle.js')
        block css
    body
        .content-edge
            include header.pug
            block main
            include footer.pug