extends common/layout

block title
    meta(title="illustset")

block css
    link(rel='stylesheet' href='/css/illustset.css')

block main
    .container.center
        p.site-navi
            a(href='/') topページ
            span.arrow >
            a(href='illustset.html') 一般女性のイラスト
        .thumbnail
            img(src='/img/woman_nomal/woman_nomal03.png', alt='')
        .feature
            .feature-text
                h3 悩む一般女性のイラスト
                p  20~30代の私服の女性のイラストです。
                p  ターゲットユーザが若い女性や主婦の場合のLP最適です。
            .downloader
                a(href="/img/woman_nomal/woman_nomal.zip" download='woman.zip')
                    button 全てをダウンロード
                p 画像をクリックすると個別にダウンロードすることができます。
    .back
        .container
            .illust-set
                .illust-link
                    a(href='illust.html')
                        .illust
                            img(src='/img/woman_nomal/woman_nomal02.png', alt='')
                            p  悩む女性のイラスト悩む女性のイラスト
                .illust-link
                    a(href='illust.html')
                        .illust
                            img(src='/img/woman_nomal/woman_nomal02.png', alt='')
                            p 悩む女性のイラスト悩む女性のイラスト
                .illust-link
                    a(href='illust.html')
                        .illust
                            img(src='/img/woman_nomal/woman_nomal02.png', alt='')
                            p 悩む女性のイラスト悩む女性のイラスト
                .illust-link
                    a(href='illust.html')
                        .illust
                            img(src='/img/woman_nomal/woman_nomal02.png', alt='')
                            p 悩む女性のイラスト悩む女性のイラスト
            .back-to-top
                a(href='/')
                    button TOPに戻る

