extends common/layout
block title
    meta(title="illust")
block css
    link(rel='stylesheet' href='/css/illust.css')

block main
    .container.center
        p.site-navi
            a(href='/') topページ
            span.arrow >
            a(href='illustset.html') 一般女性のイラスト
            span.arrow >
            a(href='illust.html') 悩む女性のイラスト
        .thumbnail
            img(src='/img/woman_nomal/woman_nomal02.png', alt='')
        .feature
            .feature-text
                h3 悩む一般女性のイラスト
                p 20~30代の私服の女性のイラストです。
                p ターゲットユーザが若い女性や主婦の場合のLP最適です。
            .downloader
                a(href="/img/woman_nomal/woman_nomal02.png" download='woman.png')
                    button 画像をダウンロード
                p 画像をクリックすると個別にダウンロードすることができます。
    .back
        .container
            .back-to-top
                a(href='illustset.html')
                    button 一覧に戻る
                a(href='/')
                    button TOPに戻る
