extends common/layout

block title
    meta(title="home")
block css
    link(rel='stylesheet' href='/css/index.css')
block main
    .container
        .card-holder
            a(href="illustset.html").card
                    .thumbnail
                        img(src='img/woman_nomal/woman_nomal03.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
            a(href="illustset.html").card
                    .thumbnail
                        img(src='img/man_nomal/man_nomal04.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
            a(href="illustset.html").card
                    .thumbnail
                        img(src='img/woman_nomal/woman_nomal03.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです
            a(href="illustset.html").card
                    .thumbnail
                        img(src='img/man_nomal/man_nomal04.png')
                    h3  一般女性のイラストセット
                    p   ２０〜３０代の私服のイラストセットです