extends common/layout

block css
    link(rel='stylesheet' href='/css/illust.css')

block main
    .container
        p#page_navi
        span topページ
        span.arrow >
        span 一般女性のイラスト
        span.arrow >
        span 悩む女性のイラスト
        .illust-caption
            img.illust_img(src='/img/woman_nomal/woman_nomal02.png', alt='')
        .illust_texts
            .description
                h3.description_h3 悩む一般女性のイラスト
                p.description_p 20~30代の私服の女性のイラストです。
                p.description_p ターゲットユーザが若い女性や主婦の場合のLP最適です。
            .downloader
                a(href="/img/woman_nomal/woman_nomal02.png" download='woman.png')
                    button.downloader_button 画像をダウンロード
                p.downloader_p 画像をクリックすると個別にダウンロードすることができます。
    .back
        .container
            .back_buttons
                a.back_buttons_a(href='illustset.html')
                    button.back_button 一覧に戻る
                a(href='/')
                    button.back_button TOPに戻る

