extends common/layout.pug

block css
    link(rel='stylesheet' href='/css/index.css')
block main
    .container
        .boxes
            a(href="illustset.html").box
                    .box_img
                        img(src='img/woman_nomal/woman_nomal03.png')
                    h3.box_h3 一般女性のイラストセット
                    p.box_p ２０〜３０代の私服のイラストセットです
            a(href="illustset.html").box
                    .box_img
                        img(src='img/man_nomal/man_nomal04.png')
                    h3.box_h3 一般女性のイラストセット
                    p.box_p ２０〜３０代の私服のイラストセットです
            a(href="illustset.html").box
                    .box_img
                        img(src='img/woman_nomal/woman_nomal03.png')
                    h3.box_h3 一般女性のイラストセット
                    p.box_p ２０〜３０代の私服のイラストセットです
            a(href="illustset.html").box
                    .box_img
                        img(src='img/man_nomal/man_nomal04.png')
                    h3.box_h3 一般女性のイラストセット
                    p.box_p ２０〜３０代の私服のイラストセットです