@import "common/mixin";

#page_navi {
  font-size: 14px;
  padding: 25px 0px 25px 0px;
  & .arrow{
    margin: 0 10px 0 10px;
    color: #A1A1A1;
  }
  & .page_navi_a{
    text-decoration: none;
    color: #A1A1A1;
  }
}

.illust-caption {
  margin: 0px 100px 30px 0px;
  border-radius: 50% 50% 50% 50%;
  background: #fff;
  display: inline-block;
  height: 300px;
  width: 300px;
  text-align: center;
}

.illust_texts {
  display: inline-block;
  vertical-align: top;
}

.illust_img {
  height: 70%;
  padding-top: 30px;
}

.description {}

.description_h3 {
  color: #979A9C;
  font-size: 22px;
  padding: 50px 0px 30px 0px;
}

.description_p {
  color: #9c9ea0;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
}

.downloader {
  padding-top: 30px;
}

#downloader_button {
  @include orange-button();
}

.downloader_p {
  padding-top: 10px;
  color: #9EA1A2;
  font-size: 14px;
}

.back {
  background: #fff;
  padding: 40px 0px 60px 0px;
}
.illust-set{
   & .illust{
     height: 130px;
     width: 23%;
     display: inline-block;
     padding-bottom: 70px;
     margin-right: 2.6666667%;
     & .illust_a{
       text-decoration: none;
       display: block;
       height:100%;
       & .illust_img{
         height:100px;
         text-align: center;
         padding:0;
         & img{
           height:100%;
         }
       }
       & .illust_p{
         font-size:14px;
         color:#A5A7A9;
         font-weight:600;
         padding-top:10px;
       }
     }
     &:last-child{
       margin-right:0px;
     }
   }
}

.back_button {
 text-align: center;
  & button{
    @include white-button();
    letter-spacing: normal;
  }
}

@media screen and(max-width: 1080px){
  .downloader_p{
    padding:20px 0 30px 0;
  }

  .illust-caption {
    height: 250px;
    width: 250px;
    margin:0 20px 40px;
  }

  .description_h3 {
    padding: 20px 0px 30px 0px;
    font-size:20px;
  }
}

@media screen and(max-width: 760px){
  #page_navi{
    text-align: center;
  }
  .center{
    text-align: center;
  }
  .illust-caption{
    margin:0;
  }
}