footer
    .footer-texture
    .container
        .footer-nav
            li
                a(href='')
                    .nav-icon
                        img(src='img/icon_clip-white.svg')
                    p コンセプト
            li
                a(href='')
                    .nav-icon
                        img(src='img/icon_lightBulb-white.svg')
                    p 使い方
            li
                a(href='')
                    .nav-icon
                        img(src='img/icon_smile-white.svg')
                    p 運営について
            li
                a(href='')
                    .nav-icon
                        img(src='img/icon_letter-white.svg')
                    p お問い合わせ
            .copyright
                span.powered_by Powered by
                img(src='img/logo_chatbox.svg')
                span.right_reserved All rights reserved.
