header
    .container
        a(href='/')
            .header-logo
                img(src='/img/logo_rectangle.svg')
        .header-nav
            a(href='#').nav-link
                li
                    .nav-icon
                        img(src='/img/icon_clip.svg')
                    p コンセプト

            a(href='#').nav-link
                li
                    .nav-icon
                        img(src='/img/icon_lightBulb.svg')
                    p 使い方
            a(href='#').nav-link
                li
                    .nav-icon
                        img(src='/img/icon_smile.svg')
                    p 運営について
            a(href='#').nav-link
                li
                    .nav-icon
                        img(src='/img/icon_letter.svg')
                    p お問い合わせ
        p.site-description ストーリー構成に合わせて使いやすいフリーイラスト素材サイトです。個人利用・商用利用どちらも無料で仕様できます。