@import "common/mixin";

#page_navi {
  color: #A1A1A1;
  font-size: 10px;
  padding: 25px 0px 25px 0px;
  & .arrow{
    margin: 0 10px 0 10px;
  }
}

.illust-caption {
  margin: 0px 50px 30px 0px;
  border-radius: 50% 50% 50% 50%;
  background: #fff;
  display: inline-block;
  height: 230px;
  width: 230px;
  text-align: center;
}

.illust_texts {
  display: inline-block;
  vertical-align: top;
}

.illust_img {
  height: 70%;
  padding-top: 30px;
}

.description {}

.description_h3 {
  color: #979A9C;
  font-size: 17px;
  padding: 20px 0px 20px 0px;
}

.description_p {
  color: #9c9ea0;
  font-size: 12px;
  padding: 5px 0px 5px 0px;
}

.downloader {
  padding-top: 30px;
}

#downloader_button {
  @include orange-button();
}

.downloader_p {
  padding-top: 7px;
  color: #9EA1A2;
  font-size: 10px;
}

.back {
  background: #fff;
  padding: 40px 0px 80px 0px;
}
.illust-set{
   & .illust{
      height:130px;
      width:148.75px;
      margin-right:25px;
      display: inline-block;
      padding-bottom:50px;
     & .illust_a{
       text-decoration: none;
       display: block;
       height:100%;
       & .illust_img{
         height:100px;
         text-align: center;
         padding:0;
         & img{
           height:100%;
         }
       }
       & .illust_p{
         font-size:10px;
         color:#A5A7A9;
         font-weight:600;
         padding-top:10px;
       }
     }
     &:last-child{
       margin-right:0px;
     }
   }
}

.back_button {
 text-align: center;
  & button{
    @include white-button();
    letter-spacing: normal;
  }
}

@media screen and (max-width: 710px) {
  #page_navi {
   text-align: center;
  }
  .illust-caption {
    display: block;
    margin:0 auto;
  }
  .illust_texts {
    display:block;
    width:480px;
    text-align: center;
  }
  .downloader_p {
    padding-bottom:50px;
  }
  .illust-set{
    & .illust{
      width:101.25px;
    }
    & .illust_img{
      height:50px;
    }
    & .illust_p{
      font-size:6px;
    }
  }
}

@media screen and(max-width: 500px){
  .illust-set{
    & .illust{
      width:50%;
      margin:0;
    }
  }
  .illust_texts {
    width:100%;
  }
}