@import "common/header";
@import "common/footer";
@import "common/reset";

body {
  background: #F7F5F3;
  min-width:320px;
}

.content-edge {
  border: solid 10px #EA6D53;
}

.container {
  width: 670px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 710px) {
  .container{
    width:480px;
  }
}
@media screen and (max-width: 500px) {
  .container{
    width:100%;
    margin:0 auto;
  }
}
