@import "common/header";
@import "common/footer";
@import "common/reset";


html {
  height: 100%;
}

body {
  height: 100%;
  background: #F7F5F3;
  width: 100%;
}

.content-edge {
  border: solid 10px #EA6D53;
}

.container {
  width: 670px;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 710px) {
  .container{
    width:480px;
  }
}
